
@{
    ViewBag.Title = "";
}

<h2></h2>

<head>
    <title>ERP </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    
</head>
<body>
    <div class="menubar">
        <ul class="list-group">

           
             
            <li><a href="#"><i class="fa fa-dashcube"></i> &nbsp;&nbsp; My Feeds</a>
             
            </li>
            <li><a href="#"><i class="fa fa-cloud-upload"></i>&nbsp;&nbsp; Uploads</a></li>
           
            <li><a href="#"><i class="fa fa-share-alt"></i>&nbsp;&nbsp; Shared</a></li>
            <li><a href="#"><i class="fa fa-heart-o"></i>&nbsp;&nbsp; Favourites</a></li>

             <li><a href="#"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; E-mail</a></li>
             <li><a href="#"><i class="fa fa-address-book"></i>&nbsp;&nbsp; My Contacts</a></li>
            <li><a href="#"><i class="fa fa-trash-o"></i>&nbsp;&nbsp; Drafts</a></li>
             <li><a href="#"><i class="fa fa-download"></i>&nbsp;&nbsp; Downloads</a></li>
             <li><a href="#"><i class="fa fa-cogs"></i>&nbsp;&nbsp; Settings</a></li>



    </ul>
    </div>
</body>

