@model Day9.Models.CustomerViewModel
@{
    ViewBag.Title = "Blue";
    Layout = null;
}

<h2>Blue</h2>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class=" container">
    <table class="table table-striped">
        <tr>
            <td>CustomerName</td>
            <td>@Model.CustomerName</td>
        </tr>
        <tr>
            <td>Phoneno</td>
            <td>@Model.Phoneno</td>
        </tr>
        <tr>
            <td>Mobiletype</td>
            <td>@Model.Mobiletype</td>
        </tr>

       
       
    </table>
</div>