@model DayEleven.Models.EmployeeViewModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container" style="width:40%;margin-top:2%">
    
    @using (Html.BeginForm("SaveRecord", "Eleven", FormMethod.Post))
    {

    @Html.DropDownListFor(model => model.DepartmentID, ViewBag.Lovsan2list as SelectList, "--select--", new { @class = "form-control" })

    @Html.TextBoxFor(model => model.EmpName, new { @class = "form-control", @placeholder = "Name" })

     @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Address" })


     
        <input type="submit" value="SUBMIT" class="btn btn-block btn-primary" />

    }

       
   
</div> 


